html, body {
  min-height: 100vh;
  font-family: Roboto, Helvetica, sans-serif;
  background-color: #f1f1f1;
}

a:hover {
  text-decoration: none;
}

.card {
  border: none;
}

.sub-header {
  margin: 1em;
  margin-bottom: 0;
}

.category-row {
  padding: 1em;
}

.card-text {
  font-size: 0.9em;
  height: 3em;
  overflow: hidden;
}

.item-thumb-wrapper {
  overflow: hidden;
}

.item-thumb {
  height: 11em;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.item-thumb:hover {
  /* Blur effect
  webkit-filter: blur(4px);
  filter: blur(4px); */
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.content-container {
  padding: 20px;
}

.main-content {
  width: 100%;
  height: 100%;
}

/* .grid-container {
  height: 100%;
  width: 90%;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  grid-gap:50px;
} */

.pagination-bar {
  text-align: center;
}

.custom-panel {
  background-color: #4DAD16;
}

.category {
  padding: 0;
}

.list-group-item:first-child {
  border-radius: 0;
}

.pbicon {
  display: inline-block;
  height: 1em;
  vertical-align: -1px;
  overflow: hidden;
  margin-right: 5px;
}

.category-title {
  color: black;
  display: inline-block;
  border: none;
  padding: 0.75em 1.25em;
  transition: transform .3s;
}

.category-title:hover {
  background-color: #4DAD16;
  color: white;
}

.category-title:hover span {
  font-size: 1.2em;
}

.category-title:hover img {
  filter: brightness(0) invert(1);
}

.section-title {
  color: #2ecc71;
}

.category-title:hover {
  cursor: pointer;
}

.fa-shopping-cart {
  vertical-align: -1px;
}

.add-cart-btn {
  transition: transform .3s;
}

.add-cart-btn:hover {
  background-color: #ef4d4d;
  color: white !important;
  transform: scale(1.1);
  border-color: #ef4d4d;
}

.view-more-btn {
  color: #4DAD16;
  border-color: #4DAD16;
  margin: 1em;
  padding: 6px 2em;
  transition: transform .3s;
}

.view-more-btn:hover {
  transform: scale(1.1);
  background-color: #4DAD16;
  border-color: #4DAD16;
}

.view-more-btn:focus {
  box-shadow: none!important;
}

.view-more-btn:active {
  background-color: #4DAD16!important;
  border-color: #4DAD16!important;
}

.big-thumb-img {
  max-height: 18em;
  width: 100%;
}