html, body {
  min-height: 100vh;
  font-family: Roboto, Helvetica, sans-serif;
  background-color: #f1f1f1;
}

a:hover {
  text-decoration: none;
}

.card {
  border: none;
}

.sub-header {
  margin: 1em;
  margin-bottom: 0;
}

.category-row {
  padding: 1em;
}

.card-text {
  font-size: 0.9em;
  height: 3em;
  overflow: hidden;
}

.content-container {
  padding: 20px;
}

.pagination-bar {
  text-align: center;
}

.custom-panel {
  background-color: #4DAD16;
}

.category {
  padding: 0;
}

.list-group-item:first-child {
  border-radius: 0;
}

.pbicon {
  display: inline-block;
  height: 1em;
  vertical-align: -1px;
  overflow: hidden;
  margin-right: 5px;
}

.category-title {
  color: black;
  display: inline-block;
  border: none;
  padding: 0.75em 1.25em;
  transition: transform .3s;
}

.category-title:hover {
  background-color: #4DAD16;
  color: white;
}

.category-title:hover span {
  font-size: 1.2em;
}

.category-title:hover img {
  filter: brightness(0) invert(1);
}

.category-title:hover {
  cursor: pointer;
}

.fa-shopping-cart {
  vertical-align: -1px;
}

.add-cart-btn {
  transition: transform .3s;
}

.add-cart-btn:hover {
  background-color: #ef4d4d;
  color: white !important;
  transform: scale(1.1);
  border-color: #ef4d4d;
}

.big-thumb-img {
  max-height: 18em;
  width: 100%;
  object-fit: cover;
}

#newProductsCarousel {
  border-radius: 15px;
  overflow: hidden;
}

.products {
  background: none;
}

a.text-more {
  font-size: 1.2em;
  transition: transform .3s;
}

a.text-more:hover {
  transform: scale(1.1);
  color: #4DAD16;
}