/* You can add global styles to this file, and also import other style files */

/* html, body {
    height: 100%;
} */

body {
    padding: 0;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.text-green {
    color: #4DAD16;
}

.dark-grey-text {
    color: #4f4f4f !important;
}

/* .dark-grey-text:hover, .dark-grey-text:focus {
    color: #4f4f4f !important;
} */

.product-card {
    /* -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.35);
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.35); */
    border: none!important;
    border-radius: 1rem!important;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.product-card .card-img-top {
    border-top-left-radius: calc(1rem - 1px)!important;
    border-top-right-radius: calc(1rem - 1px)!important;
}

.product-card .card-body {
    padding-top: 0;
    padding-bottom: 0;
}

.product-card .card-title a {
    color: black;
}

.product-card .card-footer {
    background: none;
    border: none;
    padding-bottom: 1.25rem;
}

.product-card .card-body h5.card-title>a:hover {
    color: #1e7e34;
}

.pb-pagination ::ng-deep .ngx-pagination .current {
    background-color: #2ecc71;
    border-radius: 100%;
    transition: 0.2s;
}

.pb-pagination ::ng-deep .ngx-pagination li a:hover {
    border-radius: 100%;
}

.original-price {
    margin-left: .5rem;
    font-size: .8em;
    font-weight: normal;
    color: rgb(120, 120, 120)!important;
    text-decoration: line-through;
}

.discount-percent {
    text-transform: uppercase;
    color: #ff5252;
}

.item-thumb-wrapper {
    overflow: hidden;
}

.item-thumb {
    height: 11em;
}

.product-card:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.section-title {
    font-weight: 600;
    font-size: 1.5em;
}

.category .card-header:first-child {
    border-radius: calc(1rem - 1px) calc(1rem - 1px) 0 0;
}

.category .list-group-item:last-child {
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}