/* You can add global styles to this file, and also import other style files */

/* html, body {
    height: 100%;
} */

body {
    padding: 0;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dark-grey-text {
    color: #4f4f4f !important;
}

/* .dark-grey-text:hover, .dark-grey-text:focus {
    color: #4f4f4f !important;
} */